[2019-02-04 23:09] EwoutH opened #1 "Repository is empty"
When will the initial commit get pushed?

[2019-02-16 02:22] hassount opened #2 "ffmpeg plugin does not support b-frames"
Signalling invisible frames is not working properly with svt-vp9 ffmpeg plugin

[2019-02-16 09:59] tnti opened #3 "Pipeline support issues."
As shown in the picture, is it possible to forget to modify the code?
![](http://thyrsi.com/t6/671/1550311131x2890211684.jpg)
The code needs to be modified to increase support.
@hassount

[2019-02-17 10:39] Kagami commented on #1
It's pushed now.

[2019-02-17 20:25] EwoutH opened #5 "Make build.sh executable"
Currently blocks #6 .

See https://github.com/OpenVisualCloud/SVT-AV1/pull/1 and Stackoverflow: [Permission denied for build.sh file](https://stackoverflow.com/questions/42154912/permission-denied-for-build-sh-file).

[2019-02-18 02:01] Zennoe opened #7 "Encoding: stack smashing detected"
Appears to crash after reaching the end of the input file:

[code]

[2019-02-18 09:52] Lastique opened #8 "Add support for requesting a keyframe during encoding"
Oftentimes, to mitigate transmission loss, a sender, who also encodes video content, has to generate a keyframe (IDR) so that the receiver recovers its decoded video state. There seems to be no way to request an IDR from SVT-VP9 mid-encoding process in its API.

[2019-02-18 10:30] #1 closed

[2019-02-18 11:21] inferrna opened #9 "Don't use AVX2 instructions on unsupported cpus"
My CPU is Xeon 2665 v1
[code]

[code]

[2019-02-19 01:30] hassount commented on #5
@EwoutH
Done, commit 300a7ec

[2019-02-19 01:32] hassount commented on #3
@tnti
Agreed, will update asap

[2019-02-19 01:36] hassount commented on #9
@inferrna
Thank you for your feedback, at this point SVT-VP9 does not support non-avx2 cpus. However, we welcome contributions enabling such support.

[2019-02-19 08:02] #5 closed

[2019-02-19 15:28] gnafuthegreat commented on #9
For example, there was this patch for SVT-AV1 if someone wanted to try and adapt it:

https://github.com/OpenVisualCloud/SVT-AV1/pull/3

[2019-02-20 21:51] tianjunwork commented on #3
@tnti Pull request #10 fix this issue. You can apply this patch if it blocks you.
Thanks for posting the issue.

[2019-02-21 09:35] jbeich opened #11 "AddressSanitizer: global-buffer-overflow (on any input)"
Found on FreeBSD with Clang 8.0. Lines correspond to e92a57c099c3 snapshot

[code]

[2019-02-21 21:26] cabirdme opened #12 "FFMPEG usage is crashing"
this usage leads to seg fault ( as guided by https://github.com/OpenVisualCloud/SVT-VP9/blob/master/ffmpeg_plugin/README.md ) :

ffmpeg -i Sintel.2010.1080p.mkv -c:v libsvt_vp9 -y output.mp4

Maybe another input could be used.  Mine was obtained from: https://durian.blender.org/download/ or http://ftp.nluug.nl/pub/graphics/blender/demo/movies/Sintel.2010.1080p.mkv ( i think ).

I'm attaching a bac

[2019-02-21 22:08] cabirdme commented on #12
[vp9.segfault.txt](https://github.com/OpenVisualCloud/SVT-VP9/files/2891487/vp9.segfault.txt)

might be a better backtrace.

[2019-02-22 15:22] tnti commented on #3
Thank you. @tianjunwork

[2019-02-22 15:22] #3 closed

[2019-02-23 01:50] jbeich opened #13 "[ffmpeg_plugin] Output files have only 1 frame"
`SvtVp9EncApp` appears unaffected but I haven't checked if default encoding settings are the same.
[code]

[2019-02-23 23:50] hassount commented on #12
@jsunintel

[2019-02-25 01:56] colleenkhenry commented on #2
Do you really mean b-frames? Vp9 doesn't have b frames...

Are you meaning alt-ref frames?

[2019-02-25 01:57] colleenkhenry opened #16 "Does this work on AWS or GCE?"
Does this work on AWS or GCE instances or does it need some sort of lower level access than they provide for the "scalable" part of the Xeons?

[2019-02-25 02:00] colleenkhenry opened #17 "Quality comparison"
I see there are no claims as to quality per bit here. I understand that quality is a super hard thing to measure and it depends on a ton of factors, however, I'm curious if you could throw out some simple claims.

For example, you could pick some clips from the derf set and say "according to VMAF we are X better than x264 medium mode with Y GOP size and Y bit rates and Z resolutions."

I'm thrille

[2019-02-25 02:08] 1480c1 commented on #17
One thing that is possible is to use a well known clip such as big buck bunny and jelly fish and iterate through the tests and do vmaf, psnr, or ssim with x264, x265, and libaom along with bit rate comparisons. It would still be hard to put together the data unless there is someone good at that kind of thing.

[2019-02-25 02:36] colleenkhenry commented on #17
@chadnickbok I think had some interest in doing the tests if someone tosses him the data set

[2019-02-25 06:51] jsunintel commented on #12
I don't have this Sintel.2010.1080p.mkv. I tried a cmdline like below and can't reproduce any segfault.

ffmpeg -video_size 1920x1080 -pixel_format yuv420p -f rawvideo -i video_1920x1080_5frames.yuv -c:v libsvt_vp9 -y output.mp4

[2019-02-25 07:01] EwoutH opened #18 "Tag stable release"
Many package managers require a Git repository to have at least one tagged release before they integrate it. Could we tag a release?

[2019-02-26 09:52] jsunintel commented on #12
[]# ./SvtVp9EncApp -i input.yuv -w 1920 -h 818 -b output.mp4
-------------------------------------
SVT-VP9 Encoder v0.1.0
SVT [version]   : SVT-VP9 Encoder Lib v0.1.0
SVT [build]     : GCC 5.4.0      64 bit
LIB Build date: Feb 25 2019 15:08:39
-------------------------------------------
Number of logical cores available: 8
Number of PPCS 75
-------------------------------------------
SVT [config]:

[2019-02-26 10:13] jsunintel commented on #13
@hassount which bug is tracking this issue originally, since https://github.com/OpenVisualCloud/SVT-VP9/issues/13 is a duplicate?

[2019-02-26 21:48] tianjunwork commented on #13
@jsunintel I think @hassount was talking about #2. Could you take a look at both issues?

[2019-02-26 21:50] tianjunwork commented on #7
@Zennoe Crash is confirmed. We will take a look. Thanks.

[2019-02-26 21:52] tianjunwork commented on #12
Duplicated with #7

[2019-02-26 22:00] tianjunwork commented on #16
Hi @colleenkhenry the encoder can run on AWS as long as the platform meets the need of System Requirements in https://github.com/OpenVisualCloud/SVT-VP9/blob/master/README.md. It doesn't need anything more than that.

[2019-02-26 22:21] tianjunwork commented on #17
@colleenkhenry Thank you for your suggestion. Yes, as you said, some benchmark document is needed to publish. The team is all busy on AV1 now. But we welcome any contribution from the community.

[2019-02-26 22:23] tianjunwork commented on #18
@EwoutH Thanks for your suggestion. Will tag a release after #7 and #12 are fixed.

[2019-02-27 03:38] colleenkhenry commented on #17
Go go go on AV1! Don't let me slow you down ;).

[2019-02-27 03:38] colleenkhenry commented on #16
Thanks!

[2019-02-27 21:29] #16 closed

[2019-02-28 07:43] jsunintel commented on #2
I worked out a temp fix as below and it worked well.

diff --git a/libavcodec/vp9_superframe_bsf.c b/libavcodec/vp9_superframe_bsf.c
index ea67507..8bf6031 100644
--- a/libavcodec/vp9_superframe_bsf.c
+++ b/libavcodec/vp9_superframe_bsf.c
@@ -24,7 +24,7 @@
 #include "bsf.h"
 #include "get_bits.h"

-#define MAX_CACHE 8
+#define MAX_CACHE 32
 typedef struct VP9BSFContext {
     int n_cache;
     AVP

[2019-02-28 23:09] colleenkhenry opened #19 "Defining a "Scalable" processor?"
Sorry to ask more questions.

If I understand right, the "scalable processor" performance optimizations exist within Skylake-SP xeon processors and up.

If I am correct in that, I presume that a Xeon W-2195 is NOT an ideal processor for running this software on.

Can you confirm? Thank you again!

[2019-02-28 23:27] tianjunwork commented on #19
The scalable technology in "**Scalable** Video Technology" doesn't depend on the "**scalable** processor".
Actually, the performance of encoder is depend on the Instruction Set Extensions of your CPU. To get accelerated speed, you'd better have AVX-512.
To learn more about the **Scalable** Video Technology, please refer to white paper here: https://01.org/svt

[2019-02-28 23:32] tianjunwork commented on #19
You can run it on Xeon W-2195.
SVT is designed to use as much computation power as possible, so with a more powerful CPU(e.g. xeon 8180), you get less latency.

[2019-03-09 02:18] colleenkhenry opened #20 "Is it just me, or does the ffmpeg build process not work?"
I get this when I try to build it according to the directions provided.

./configure --enable-libsvtvp9
ERROR: SvtVp9Enc not found using pkg-config

If you think configure made a mistake, make sure you are using the latest
version from Git.  If the latest version fails, report the problem to the
ffmpeg-user@ffmpeg.org mailing list or IRC #ffmpeg on irc.freenode.net.
Include the log file "ffbuild/c

[2019-03-09 02:25] colleenkhenry commented on #20
Nevermind, pkg-config wasn't installed

[2019-03-09 02:25] #20 closed

[2019-03-13 13:56] arputcu commented on #18
@tianjunwork  any news on this?

[2019-03-13 17:37] tianjunwork commented on #18
Hi @arputcu, team is so busy on AV1 release. Will fix this right after AV1 is ready.

[2019-03-14 01:20] tianjunwork commented on #2
Hi @hassount, after get bit frame eb_svt_get_packet(component_handle, &header_ptr, pic_send_done), which flag indicates the frame is invisible? GStreamer has the same issue. Only visible frame is played back.

[2019-03-22 20:27] colleenkhenry opened #21 "Question: Dual or single Gold"
In the readme I see

"The SVT-VP9 Encoder is being optimized to achieve excellent performance levels currently supporting 10 density-quality presets (please refer to the user guide for more details) on a system with a dual Intel® Xeon® Scalable processor targeting:

Real-time encoding of up to two 4Kp60 streams on the Gold 6140 with M8."

I can't tell from the second part if you mean dual gold 614

[2019-03-22 20:40] tianjunwork commented on #21
"on a system with a dual Intel® Xeon® Scalable processor" ==> means that a dual-socket system, each of which is a Xeon Scalable processor.
Branch mark is done on dual-socket system with Xeon 6140 processor. So two 6140 processors.

[2019-03-22 20:40] #19 closed

[2019-03-22 20:46] colleenkhenry commented on #21
Thanks!

[2019-03-22 20:46] #21 closed

[2019-03-25 22:20] tianjunwork opened #22 "GStreamer plugin for SVT-VP9"
Working in progress.

[2019-03-27 14:27] philtems opened #24 "ffmpeg patch svt-vp9/svt-av1/svt-hevc"
Any chance to have a patch for ffmpeg working together with svt-av1 and svt-hevc?

[2019-03-27 16:46] tianjunwork commented on #24
Hi @jsunintel, could you help on this? Thx.

[2019-03-27 17:21] tianjunwork commented on #22
PR is merged

[2019-03-27 17:21] #22 closed

[2019-03-29 02:08] jsunintel commented on #24
Already done:

- git clone https://github.com/FFmpeg/FFmpeg ffmpeg
- cd ffmpeg
- git checkout release/4.1
- export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/lib
- export PKG_CONFIG_PATH=${PKG_CONFIG_PATH}:/usr/local/lib/pkgconfig
If no SVT-HEVC plugin in FFmpeg
- git apply ../SVT-AV1/ffmpeg_plugin/0001-Add-ability-for-ffmpeg-to-run-svt-av1.patch
- ./configure --enable-libsvtav1
Or if based on

[2019-03-29 02:20] colleenkhenry commented on #24
Is it just me or does that not include Vp9?

[2019-03-29 02:22] jsunintel commented on #24
"Any chance to have a patch for ffmpeg working together with svt-av1 and svt-hevc?"
The question did not mention VP9. I will try to add that support if you need it.

[2019-03-29 02:25] colleenkhenry commented on #24
Isn't this the Vp9 repo? :)?

On Thu, Mar 28, 2019, 7:22 PM SUN, Jing <notifications@github.com> wrote:

[2019-03-29 03:10] jsunintel commented on #24
It just occured to me that the third lib would complicate the problem, and my plan is:

Currently:
SVT-HEVC: one plugin patch A#.
SVT-AV1: two plugin patches, B# to be applied alone, C# to be applied on the top of A#.

After adding SVT-VP9,
SVT-HEVC: one plugin patch A#.
SVT-AV1: two plugin patches, B# to be applied alone, C# to be applied on the top of A#.
SVT-VP9: two plugin patches, D# to appli

[2019-03-29 08:00] philtems commented on #24
This sounds good. Too many combinations would be just confusing.

I'm working on a Ubuntu PPA similar to https://launchpad.net/~jonathonf/+archive/ubuntu/ffmpeg-4
Idea is to add the 3 SVT libs and most common features.
I noticed libaom is useless for the moment for encoding. Performances are really poor compared to SVT-AV1. The two other HEVC and VP9 give also a nice performance boost.

[2019-04-02 06:09] jsunintel commented on #24
SVT-VP9 and SVT-AV1 have conflications. The same API header file names, and the same API function names. FFMPEG gets confused. Working on it.

[2019-04-02 07:02] colleenkhenry commented on #24
I appreciate your clear technical direction. Thank you.

On Mon, Apr 1, 2019, 11:09 PM SUN, Jing <notifications@github.com> wrote:

[2019-04-08 10:07] totaam opened #26 "low latency usage"
How do I configure the API for low latency usage?
Ideally, I want the encoder to buffer at most N frames (N<2).
I thought that the `pred_structure` parameter would let me do that, but `verify_settings` does this:
[code]

============================
PS: it would be nice if the encoder limits were part of the header file.
ie:
[code]
Also, the "enc_mode" and how it relates to the input_resolution co

[2019-04-08 17:07] tianjunwork commented on #26
Hi @totaam,
1. The low latency usage(N<2) you are expecting is not supported by all SVT encoders by now.
You can lower the look ahead value to reduce the number of frames being buffered.
2. EbEncHandle.c line 2078 will show the error msg if input goes over the limits.
3. Sorry that the table is not in user guide yet. You could refer to below one first. We will add it later. Thx.
https://github.com

[2019-04-09 14:08] totaam commented on #26
Hi @tianjunwork,

1. Based what I saw in `compute_default_look_ahead` I've tried setting a low value for `intra_period` and `rate_control_mode=1`. It still buffered around 40 frames - am I doing something wrong?
2. Sure, #defines just makes the code that uses the lib more future proof, in case those values ever change, and makes it possible to support building on distros that may ship with differe

[2019-04-11 23:01] tianjunwork commented on #26
Hi @totaam, input_output_buffer_fifo_init_count decides the buffering number. hierarchical_levels(rc=0); intra_period(rc=1) will determine the lookahead value.  So what you did is correct to lower buffering number.
set_parent_pcs() which uses fps also affects input_output_buffer_fifo_init_count value.

[2019-04-12 07:23] totaam commented on #26
That's what I feared, the fps value is capped between 24 and 120 fps, and the return value is 1.25 seconds worth:
[code]
With the minimum value of 24, that's still 30 frames buffered - way too much compared to my desired usage (N<2).
I'll take another look once the low latency functions are implemented.
Thanks.

[2019-04-12 16:54] tianjunwork commented on #26
Sure.
There is a trello board to track HEVC features: https://trello.com/b/PgF6uoa7/svt-vp9.
You can track the status of coming features.

[2019-04-19 15:54] johnluther opened #27 "VP9 output is invalid"
I tried a basic VP9 encode w/ ffmpeg. Here is my command:

`ffmpeg -i 30sec.mp4 -c:v libsvt_vp9 -rc 1 -b:v 1M -r 30 -preset 8 -an -y test.webm`

WebM output file: https://storage.googleapis.com/jluther/test_8.webm
Also an IVF here: https://storage.googleapis.com/jluther/test.ivf

I tried a number of different input files, got the same results. Output container also doesn't seem to matter, I got th

[2019-04-19 16:30] tianjunwork commented on #27
Hi @jsunintel Could you help with this issue?

[2019-04-22 10:46] jsunintel commented on #27
VLC by default doesn't support VP9 decoding. Could you please give me VLC setup steps to view a VP9 clip by VLC?

[2019-04-22 14:08] johnluther commented on #27
Thanks, @jsunintel. Version 2.1.1 and later of VLC support VP9 playback in WebM container (see https://www.videolan.org/developers/vlc-branch/NEWS).

I also tried the output in Chrome 73 for Mac, it didn't play there, either.

[2019-04-23 11:45] jsunintel commented on #2
This one is not the correct solution. Please refer to https://github.com/OpenVisualCloud/SVT-VP9/issues/27

[2019-04-23 12:06] jsunintel commented on #27
Found this issue's root cause: ffmpeg always does a filtering process after SVT VP9 lib outputs a packet of coded data, in which it will check the coded data, get its type (invisible or super frame), and save the coded data to cache if it's an invisible frame or merge the cached frames' data with the current frame data if the current is a super and write them all to the output stream. However, SVT

[2019-04-23 12:16] 1480c1 commented on #27
@jsunintel you can block off your logs using '```' to prevent github from formatting your logs and diffs using markdown syntax <https://help.github.com/en/articles/creating-and-highlighting-code-blocks>
that way your diffs and logs won't look so weird.

PS: you can use " ``` diff " to specifically mark something to be highlighted like a diff

[2019-04-23 12:19] 1480c1 commented on #27
Not like that

[2019-04-23 12:26] jsunintel commented on #27
It is driving me crazy...
Thanks for the helps, and I just made it in a commit: https://github.com/jsunintel/SVT-VP9/commit/9f41ffb9ee5caccdf501e8d5261f7ff99a47c576

[2019-04-23 12:30] 1480c1 commented on #27
That's one way to do it

[2019-04-24 05:55] jsunintel commented on #27
I updated the ffmpeg plugin patches and made vp9 with ivf mux work:

ffmpeg -s 1920x1080 -f rawvideo -i /work/clips/matrix_1920x1080_250i.yuv -rc 0 -c:v libsvt_vp9 -vframes 250 -g 32 -tune 1 -qp 45 -y rc0.ivf
ffplay rc0.ivf

[2019-04-24 14:13] johnluther commented on #27
@jsunintel I tested the new patch my .ivf output plays in ffplay and VLC. Thanks very much!

[2019-04-24 14:13] #27 closed

[2019-04-26 23:49] colleenkhenry opened #29 "Even with commit ce24589 I still get [vp9 @ 0x7fa7d0806200] Invalid compressed header size when playing in FFPLAY"
Is there something I should do other than using the most recent master and follow the ffmpeg plugin directions?

[2019-04-29 17:48] tianjunwork commented on #29
Hi @colleenkhenry, based on the discussion in https://github.com/OpenVisualCloud/SVT-VP9/issues/27, at least it works with ivf file. Could you use the same command line and try it again?

[2019-04-30 12:13] arpu commented on #13
any news on this?  this is the last problem to use the great STV-VP9 encoder

[2019-04-30 22:36] tianjunwork commented on #13
Hi @arpu, workaround of ivf format is in PR: https://github.com/OpenVisualCloud/SVT-VP9/pull/28.
We are working on a long term fix. Please use the latest patch to unblock you.

[2019-04-30 22:37] #2 closed

[2019-04-30 22:38] #13 closed

[2019-04-30 22:43] tianjunwork commented on #29
Hi @colleenkhenry, I use below command line from https://github.com/OpenVisualCloud/SVT-VP9/issues/27. It works for me. Please send us your command line which doesn't work. Thx.
ffmpeg -s 1920x1080 -f rawvideo -i /work/clips/matrix_1920x1080_250i.yuv -rc 0 -c:v libsvt_vp9 -vframes 250 -g 32 -tune 1 -qp 45 -y rc0.ivf
ffplay rc0.ivf

[2019-04-30 22:44] #24 closed

[2019-05-01 17:53] colleenkhenry commented on #29
Here ou go.

I'll try yours now.

ffmpeg -i ~/Videos/ToS-4k-1920.mov -pix_fmt yuv420p -s 960x400 -c:v libsvt_vp9 -preset 8 -an test8.ivf

[2019-05-01 17:55] colleenkhenry commented on #29
Your command works for me :).  Whats the difference?

[2019-05-01 18:23] colleenkhenry commented on #29
One thing thats weird is when I change it to -g 60, I get this error. 64 works. It seems it has to be divisible in a certain way for the GOP size?

disp_order_continuity_count Error2 POC:63B time=00:00:01.53 b

Do you guys have a slack channel you hang out in?

[2019-05-01 21:11] tianjunwork commented on #29
1. MOV issue:
"Invalid compressed header size" seems only shows up for MOV input. I tried with yuv and mp4. It works fine with your command.
I didn't observe the difference between -g 60 and -g 64. If the input is MOV, both only shows "compressed header size".
The owner of ffmpeg plugin is on vacation. I will ask her to look into MOV issue after.

2. Could you send the command to get this error? "

[2019-05-01 21:15] tianjunwork commented on #29
Hi @jsunintel, for mov input, e.g. "ffmpeg -i ~/Videos/ToS-4k-1920.mov -pix_fmt yuv420p -s 960x400 -c:v libsvt_vp9 -preset 8 -an test8.ivf" ffplay shows "Invalid compressed header size" error, could you take a look?

[2019-05-01 21:23] colleenkhenry commented on #29
Thanks! I'll get back to you with all this.

On Wed, May 1, 2019, 2:15 PM Jun <notifications@github.com> wrote:

[2019-05-05 09:27] jsunintel commented on #29
According to your logs, the failure occured when decoding the  oS-4k-1920.mov, but not encoding.
Can I have your clip file to do more debugging? Also, you could try "ffmpeg -i ~/Videos/ToS-4k-1920.mov -pix_fmt yuv420p -s 960x400 -y test.yuv" to double confirm if it's a decoding issue.

[2019-05-13 18:36] japettyjohn opened #30 "ABR without FFMPG"
I'm trying to do ABR with MPEGDASH using SVT-VP9 and normally I'd be using FFMPEG with 2-pass but the encoder I'm using is Windows based and the FFMPEG plugin is not done for windows.

Are there particular settings I should use so I can get usable output for use with ABR?

[2019-05-13 19:01] tianjunwork commented on #30
Hi @jsunintel, could provide instruction to use FFMPEG plugin on Windows for svt vp9?

[2019-05-20 08:45] EwoutH opened #31 "Make AppVeyor project public"
For some reason

- https://ci.appveyor.com/project/OpenVisualCloud/SVT-AV1

is accessible, but

- https://ci.appveyor.com/project/OpenVisualCloud/SVT-VP9
- https://ci.appveyor.com/project/openvisualcloud/SVT-HEVC

are not ("Project not found or access denied.")

[2019-05-20 08:46] EwoutH commented on #7
@tianjunwork Any possibility to assign someone to this?

[2019-05-20 08:46] EwoutH commented on #12
@tianjunwork Any possibility to assign someone to this bug?

[2019-05-20 16:16] tianjunwork commented on #12
Hi @jsunintel, could you make this issue and vp9 bitstream compatibility your next priority?

[2019-05-21 18:49] #31 closed

[2019-05-22 02:07] jsunintel commented on #12
It’s about not-supported width/height combinations. It’s addressed by me. Please contact Hassene if they have time to add supports to not 8-aligned width/height.
And I don’t think it is a good thing to track another different issue (vp9 bitstream compatibility) in it. Please use the one with my debugging analysis for the vp9 bitstream compatibility issue.

[2019-05-22 03:25] tianjunwork commented on #12
@hassount, VP9 blocks non-8-aligned width/height 10-bit input. It crashes for non-8-aligned width/height 8-bit.
Does AV1 support non-8-aligned width/height 8-bit input? If so, porting can be planed.
Otherwise, a PR will be made to block 8-bit also.

[2019-05-22 05:53] hassount commented on #12
@tianjunwork
Only SVT-HEVC supports non multiple of 8 resolutions. The change is not as easy as porting a fix as it depends on the buffers that are not aligned. I expect support for VP9 would be easier than AV1

[2019-05-27 23:50] colleenkhenry commented on #30
@japettyjohn  I'm not sure that the FFMPEG plugin works for any platform, to be clear :).

[2019-05-28 00:06] japettyjohn commented on #30
@colleenkhenry That makes sense given even the dockers files explicitly omit SVT-VP9 (even though they might indicate otherwise).

FFMPEG is not a requirement - but 2-pass for ABR and thus MPEG-DASH is what I'm trying to handle.

[2019-05-28 00:10] colleenkhenry commented on #30
Maybe try using bounded bitrate constant quality for now?

On Mon, May 27, 2019, 5:06 PM James Pettyjohn <notifications@github.com>
wrote:

[2019-05-30 21:55] issaelaltero commented on #7
See #35 Pull Request.

[2019-05-30 21:56] issaelaltero commented on #12
See #35 Pull Request.

[2019-06-11 02:02] techvintage opened #37 "-lp parameter (Logical Processor number) does not work"
CommadLine BKC section mentions:
LogicalProcessorNumber (-lp) and TargetSocket (-ss) parameters can be used to management the threads. Or you can use OS commands like below.
But on using -lp parameter,an error is returned mentioning 'Unprocessed token -lp'
Is thread management supported? If yes,can you share a working example to show how it works.

[2019-06-11 04:26] tianjunwork commented on #37
Hi @techvintage, -lp and -ss is added for SVT-HEVC and SVT-AV1, not for VP9 yet.
The feature will be added soon.

[2019-06-11 23:58] japettyjohn opened #38 "FPS floating point"
I'm trying to encode a 29.97 fps source and have SVT output a 29.97 .ivf using fps-num 30000 and fps-denom 1001.  Everything looks correct while it is encoding, but when I then go to convert it to a webm with ffmpeg, I get an Invalid frame rate error, also when I try to use mediainfo with the .ivf file it doesn't allow me to see any of the metadata and only gives an Invalid floating point operatio

[2019-06-12 19:13] tianjunwork commented on #38
Fixed in #40

[2019-06-13 14:36] #7 closed

[2019-06-13 14:36] #12 closed

[2019-06-13 21:31] Sorqan commented on #38
I added the changes and re-compiled, in testing I found that the output is now the correct fps at 29.970 and is working great.

But now when encoding with -fps 30 the output file comes out at 1.050 in the metadata, the bit-rate is oddly low and the runtime is very long.

[2019-06-13 21:56] Sorqan opened #41 "960x540 resolution crash"
I've been testing encoding at several different resolutions and I found that when trying to run specifically with `-w 960 -h 540` it doesn't start encoding and a few seconds later the app crashes.

I haven't found this to happen with any other resolution that I've tried so far.

[2019-06-13 22:56] tianjunwork commented on #41
Hi @Sorqan is your master tip: Block input with non multiple of 8 resolution (#35)?
This patch block non multiple of 8 resolution which crashes the encoder lib.

[2019-06-13 22:58] #29 closed

[2019-06-14 01:41] Sorqan commented on #41
I see I didn't do my research on this issue beforehand, thank-you for the quick answer.

[2019-06-14 01:58] tianjunwork commented on #41
You're welcome:). We will add the support of non multiple of 8 resolution later.

[2019-06-14 01:58] #41 closed

[2019-06-14 03:48] tianjunwork commented on #38
@Sorqan I can't reproduce what you saw. Could post your command and statistics info during encoding for both 29.97 and 30 fps?

[2019-06-14 04:26] Sorqan commented on #38
@tianjunwork Here is the command I'm currently using respectively for 30fps and 29.97fps:

`SvtVp9EncApp.exe -i %sourcePath% -w 480 -h 270 -enc-mode 8 -fps-num 30000 -fps-denom 1001 -rc 1 -tbr 5000000 -b `

`SvtVp9EncApp.exe -i %sourcePath% -w 480 -h 270 -enc-mode 8 -fps 30 -rc 1 -tbr 5000000 -b %destFile%`

Using Mediainfo on the .ivf that these output, I am getting:

For the 30fps file (this one

[2019-06-14 05:12] tianjunwork commented on #38
@Sorqan this resolution should be block if you apply #40 on top of master tip. Could you try multiple of 8 resolution and check fps?

[2019-06-14 20:28] Sorqan commented on #38
@tianjunwork Sorry about that, here are the MediaInfo results from a 1080i 29.97fps encode and a 1080i 30fps. Same command as above except for `-w 1920 -h 1080`

**29.97:**
[code]

**30:**
[code]

[2019-06-14 21:00] tianjunwork commented on #38
Still can't reproduce what you saw "0.990" fps.
I am running on Ubuntu. But that should't affect.
./SvtVp9EncApp -i 1920x1080.yuv -w 1920 -h 1080 -enc-mode 8 -fps 30 -rc 1 -tbr 5000000 -b xxxx.ivf
Video
Format                                   : VP90
Codec ID                                 : VP90
Width                                    : 1 920 pixels
Height                                   : 1

[2019-06-14 21:13] Sorqan commented on #38
@tianjunwork Well if its working fine for you then I am not too worried about it, could've been something in compiling as well. What's more important for me anyway is that 29.97 is working so thank-you for the quick fix on that. I haven't tested 23.976 yet but I assume that will work now as well.

[2019-06-14 21:41] tianjunwork commented on #38
@Sorqan Thank you for verifying the PR. Glad to help.

[2019-06-19 23:57] #38 closed

[2019-09-08 21:06] EwoutH commented on #18
With the insane performance increase of #48, is SVT-AV1 ready to publish a stable release?

[2019-09-09 00:08] #37 closed

[2019-09-09 00:11] tianjunwork commented on #18
@EwoutH you mean SVT-VP9, right? Internal validation resource needs to be allocated for doing the release. Will get back to you soon.

[2019-09-13 07:01] Vascom opened #51 "Shared lib call exit"
I am try package svt-vp9 for Fedora and it has some warnings.

First of all compiled shared lib call exit. rpmlint message:
This library package calls exit() or _exit(), probably in a non-fork()
context. Doing so from a library is strongly discouraged - when a library
function calls exit(), it prevents the calling program from handling the
error, reporting it to the user, closing files properly, a

[2019-09-13 07:04] Vascom opened #52 "Shared lib executable stack"
Compiled shared lib has warning from rpmlint:

The binary declares the stack as executable.  Executable stack is usually an
error as it is only needed if the code contains GCC trampolines or similar
constructs which uses code on the stack.  One common source for needlessly
executable stack cases are object files built from assembler files which don't
define a proper .note.GNU-stack section.

Solve

[2019-09-13 07:53] Vascom opened #53 "Building gstreamer plugin without installing svt-vp9"
How I can build gstreamer plugin immediately after building main svt-vp9 without installing it to the system?

[2019-09-17 10:17] EwoutH commented on #18
@tianjunwork Thanks, keep me posted!

[2019-09-18 09:52] ariffinsetya opened #55 "Unable to build SVT-VP9 ffmpeg plugin as static library"
I've been trying to build SVT-VP9 as static ffmpeg plugin and I haven't been able to do so...
This is CMAKE vars that I used

-- CMAKE_BUILD_TYPE = Release
-- CMAKE_C_COMPILER = /usr/bin/gcc
-- CMAKE_ASM_NASM_COMPILER = /usr/bin/yasm
-- CMAKE_AR = /usr/bin/gcc-ar
-- CMAKE_RANLIB = /usr/bin/gcc-ranlib
-- CMAKE_INSTALL_PREFIX = /home/ariffinsetya/Workspace/ffmpeg-static/target
-- BUILD_SHARED_LIBS =

[2019-09-18 11:14] 1480c1 commented on #55
Currently, static lib support has not been added to SVT-VP9 yet

[2019-09-18 13:39] tianjunwork commented on #51
@Austin-Hu Could you remove exit() similar to SVT-HEVC does? Thank you.

[2019-09-18 13:48] tianjunwork commented on #53
Hi @Vascom , may I know why you don't want svt-vp9 library be installed to the system?

[2019-09-18 13:56] Vascom commented on #53
Because I am maintainer in Fedora.
svt-vp9 (and av1, and hevc) contain lib source code and gstreamer plugin source code in one tar.gz file. So I can make many rpm packages from one spec file. I want build lib and immediately build gst plugin using this lib.

Now i use this patch for that:
[code]

[2019-09-18 15:14] Austin-Hu commented on #51
Thanks for pointing this out, Vascom! Fixed with PR #56 , @tianjunwork .

[2019-09-18 22:22] Austin-Hu commented on #52
The issue can be fixed by PR #57 , and please also help verify it in your side, @Vascom. Thanks!

According to the [guidance](https://wiki.gentoo.org/wiki/Hardened/GNU_stack_quickstart), the basic addressing process is:
1. Run "readelf -lW libSvtVp9Enc.so.1 | grep GNU_STACK" to check whether there is "E" (executable), like this:
  GNU_STACK      0x000000 0x0000000000000000 0x0000000000000000 0x000

[2019-09-19 06:12] ariffinsetya commented on #55
Oh, I'll wait for it then

[2019-09-19 06:12] #55 closed

[2019-09-19 06:17] Vascom commented on #52
Verified.
Now good.

[2019-09-19 06:17] Vascom commented on #51
Verified.
Now good.

[2019-09-19 08:19] dvdan23 opened #58 "ffmpeg plugin broken?"
SvtVp9EncApp produces great VP9 output from raw yuv quickly, but encoding via the ffmpeg plugin produces corrupted output at the moment. First keyframe is OK but the rest is not playable. Tried a bunch of permutations and seeing the same thing.

Also tested with same result;
FFMPEG 4.1 series (4.1.4)
different linux flavors (debian9, debian10, Intel Clear Linux)
different gcc flavors (gcc8, gcc9)

[2019-09-19 11:10] 1480c1 commented on #55
It's probably best to keep an issue open until it's addressed. Plus if it's open, it's easier for others to spot it too and append to it rather than creating a new duplicate

[2019-09-21 01:09] #52 closed

[2019-09-21 01:09] #51 closed

[2019-09-21 06:46] #58 closed

[2019-09-24 23:15] tg-- opened #60 "YV12 chroma channels swapped"
I've tried to encode a YV12 export, created with avidemux.
The exported file is a avidemux YV12 raw video file.
Encoding works fine, but the chroma channels appear to be swapped (blue is red, red is blue).

I've attached a single frame from the YV12 (raw) file and the encoded vp9 file.
Also attached is out.txt for the output of:
`SvtVp9EncApp -i frame.raw -b frame.vp9 -w 1920 -h 1080 -fps 30 -q 60

[2019-09-27 23:35] Austin-Hu commented on #60
Hi @tg-- , SVT-VP9 encoder only supports YUV420 input format, and please refer to the user's [guide](https://github.com/OpenVisualCloud/SVT-VP9/blob/master/Docs/svt-vp9_encoder_user_guide.md#input-video-format). Thanks!

[2019-10-09 21:56] #60 closed

[2019-10-12 00:32] tianjunwork opened #62 "Reworked on the repo and retag the release"
Hi @EwoutH @kylophone @intelmark, PR is not "squash and merge" into the repo, git history looks very ugly. I rebased the repo and force pushed. Sorry to have to delete the tag you added. I will retag after adding '--version' to sample app next week. Apologies for any inconvenience.

[2019-10-12 00:51] intelmark commented on #62
@tianjunwork Appreciate your attention to detail. Will be sure to squash and merge future PRs.

[2019-10-14 03:57] tianjunwork commented on #62
Hi @intelmark, fyi PR `merge` is disabled for now for SVT-HEVC and SVT-VP9.

[2019-10-15 18:27] tianjunwork commented on #62
Hi folks, apologies for the inconvenience again. SVT-VP9 is re-tagged v0.1.0.

[2019-10-15 18:27] #62 closed

[2019-11-07 20:02] 1480c1 opened #70 "ffmpeg: Video corrupted"
Building on SVT-VP9 master (615e4a4) with FFmpeg master (4d980a8ceb) on Ubuntu 19.10

[code]

Original video ~2 seconds in. Played through vlc (Latest 3.0.8 Windows 10)
![vlcsnap-2019-11-07-14h59m40s094](https://user-images.githubusercontent.com/8345542/68422999-43e06b00-016f-11ea-8ff5-d02e84ca11d9.png)

Encoded video ~2 seconds in. Played through vlc (Latest 3.0.8 Windows 10)
![vlcsnap-2019-11-07

[2019-11-07 20:13] 1480c1 commented on #70
[phoenix.zip](https://github.com/OpenVisualCloud/SVT-VP9/files/3821483/phoenix.zip)
First 72 frames of the encoded video.

Full encoded video is 61% larger than the original

[2019-11-14 20:22] intelmark commented on #70
Chris - want to confirm the build steps.  The existing readme (https://github.com/OpenVisualCloud/SVT-VP9/blob/master/ffmpeg_plugin/README.md) uses branch 4.1 of ffmpeg:

Also when following instructions, I seemed to hang on this command:
curl https://raw.githubusercontent.com/OpenVisualCloud/SVT-VP9/master/ffmpeg_plugin/0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch | git am
mkdir build && cd b

[2019-11-14 20:24] tianjunwork commented on #70
Hi Mark, why not git am the local copy of 0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch?

[2019-11-14 20:24] 1480c1 commented on #70
you can replace `curl https://raw.githubusercontent.com/OpenVisualCloud/SVT-VP9/master/ffmpeg_plugin/0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch | git am` with `git am <Wherever you have SVT-VP9>/ffmpeg_plugin/0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch`

[2019-11-14 20:26] intelmark commented on #70
Any thoughts on not using the 4.1 branch of ffmpeg?

[2019-11-14 20:57] 1480c1 commented on #70
Main reason why is because I have almost never used any release tars or branches for anything other than testing. Plus, since SVT encoders aren't mainlined, so main compatibility and stability concerns would come from being able to apply it to ffmpeg at any time, and if the corruption happened because of where the patch applied, that would mean that vp9 or ivf output was corrupted on ffmpeg's side

[2019-11-14 21:08] tianjunwork commented on #70
Hi @intelmark, I reproduced on 4.1 release branch.

[2019-11-15 21:14] intelmark commented on #70
Looks like this issue is independent of ffmpeg as it can be reproduced in the VP9 sample app.

The provided ffmpeg command:
./ffmpeg -i phoenix.mp4 -c:v libsvt_vp9 phoenix.ivf
produced the corrupt bitstream (as reported) and output the following in the ffmpeg log:

SVT [config]: Profile [0]       Level (auto)
SVT [config]: EncoderMode / Tune                                               : 9 / 0
SV

[2019-12-19 20:02] 1480c1 opened #73 "ffmpeg-master: Can't run ffmpeg"
Currently can't encode since ffmpeg's assert fails. SVT-AV1's PR for it https://github.com/OpenVisualCloud/SVT-AV1/pull/805

Caused by FFmpeg/FFmpeg@73ee53f

From Appveyor
[code]

[2019-12-19 20:15] 1480c1 opened #74 "ffmpeg: Can't encode to webm nor mkv"
[code]

and running `ffmpeg -y -i input.mkv -c:v libsvt_vp9 output.webm` or `ffmpeg -y -i input.mkv -c:v libsvt_vp9 output.mkv` causes
[code]
similar to https://github.com/OpenVisualCloud/SVT-VP9/issues/13

[2019-12-21 12:17] Ballevill commented on #74
I confirm there is a bug with webm and mkv

[2019-12-30 22:56] #70 closed

[2019-12-30 22:59] tianjunwork opened #75 "Assertion of ffmpeg plugin on ffmpeg master"
Similar fix is needed like below:
https://github.com/OpenVisualCloud/SVT-AV1/commit/ebd9c80d414c323d8cccdc362f4399b6a9979dda#diff-280dcd3e39e9dfff92d2c1dc5e3a6387

_Originally posted by @1480c1 in https://github.com/OpenVisualCloud/SVT-VP9/pull/72#issuecomment-569742545_

[2019-12-30 23:01] tianjunwork commented on #75
Duplicate to #73

[2019-12-30 23:01] #75 closed

[2020-01-03 17:02] FreddyX078 opened #76 "Build error MacOS 10.15.2"
After building SVT-AV1 and SVT-HEVC, now trying to build on MacOS Catalina 10.15.2 but this one fails with the following error:

$ cmake -DCMAKE_INSTALL_PREFIX=/usr/local/bin -DBUILD_SHARED_LIBS=0 ../
-- Found YASM: /usr/local/bin/bin/yasm
-- CMAKE_BUILD_TYPE = Release
-- CMAKE_C_COMPILER = /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/cc
-- CMAKE_ASM_NASM_

[2020-01-03 17:09] 1480c1 commented on #76
I do not think macOS is yet supported with SVT-VP9

[2020-01-03 17:09] 1480c1 commented on #76
Also, I recommend to surround your log with triple backticks ` ``` ` to prevent formatting
[code]

[2020-01-03 20:58] #73 closed

[2020-01-04 10:08] FreddyX078 commented on #76
Sorry, my first post here and wasn't sure which one to use.

Sad to hear MacOS isn't supported yet. But it clarifies why it won't build. Hopefully it will be supported in the future.

[2020-01-06 21:27] tianjunwork commented on #76
Hi @FreddyX078, as @1480c1 said, MacOS support is not yet added for SVT-VP9.
We do welcome the contribution from the community.

[2020-01-07 22:36] tianjunwork commented on #74
Hi @1480c1 @Ballevill, @Austin-Hu is currently looking into this issue. Will keep you updated.

[2020-01-15 18:13] tianjunwork commented on #74
FYI, we have a solution to fix this issue. Will submit a PR soon.

[2020-01-15 18:15] 1480c1 commented on #74
Is it not https://github.com/OpenVisualCloud/SVT-VP9/pull/78?

[2020-01-15 18:17] tianjunwork commented on #74
It is not #78. Austin is working on a new PR.

[2020-01-15 22:57] Austin-Hu commented on #74
Hi @1480c1 & @Ballevill ,

I tried to revert PR #28 which wouldn't be accepted by ffmpeg community, and to resolve the issue in SVT-VP9 encoder plugin, with PR #78 . But playback of the encoded bit stream has some jitter (repeated frame) issue, which may be due to the incompletely super frame splitting, and needs more investigation in the future.

And according to some suggestions, changing the pa

[2020-01-16 18:38] Austin-Hu commented on #74
Hi @Ballevill ,

Which ffmpeg branch (4.1, 4.2 or master) are you using right now? Because maybe we need to rebase PR #79 per your request. Thanks!

[2020-01-16 19:03] Austin-Hu commented on #74
Hi @Ballevill & @1480c1 ,

Due to some implementation changes in the mkv/webm container between ffmpeg v4.2 and master branches, I submitted 2 PRs below:

- PR #80 : Based on ffmpeg [v4.2](https://github.com/FFmpeg/FFmpeg/commit/192d1d34eb3668fa27f433e96036340e1e5077a0) which is SVT-VP9 plugin target, and we will merge it after the reviewing process.
- PR #79 : Based on ffmpeg master [commit](http

[2020-01-16 19:05] 1480c1 commented on #74
I can try to test it in a little bit, right now waiting for another ffmpeg build to finish

[2020-01-31 18:28] #74 closed

[2020-02-03 18:54] xiaotiansf opened #84 "ffmpeg "Too many invisible frames" issue still exists for mp4"
While ffmpeg "Too many invisible frames" issue has been fixed for mkv and webm. But it still exists for mp4.
It can easily reproduced by the following test command in ffmpeg release/4.2.
./ffmpeg -i input.mp4 -vframes 1000 -c:v libsvt_vp9 -y test.mp4

[2020-02-03 19:07] tianjunwork commented on #84
Thanks for your feedback. Yeah, mp4 is not fixed yet. We will work on it.

[2020-02-03 19:30] tianjunwork commented on #84
Hi @guojiansheng0925, webm/mkv is fixed. Could you fix mp4 also? Please refer to https://github.com/OpenVisualCloud/SVT-VP9/pull/80 for the fix. Thank you.

[2020-02-03 21:30] Austin-Hu opened #85 "Incorrect encoded bitstream with some specific resolutions (such as 360x360)"
As found by @1480c1 in PR #83 , the playback of encoded bitstream is incorrect with some specific resolutions (such as 360x360):

./SvtVp9EncApp -i neighbor_360x360_420p.yuv -w 360 -h 360 -b output.vp9

[neighbor_360x360_420p_20frames.zip](https://github.com/OpenVisualCloud/SVT-VP9/files/4150315/neighbor_360x360_420p_20frames.zip)

[2020-02-11 19:20] #84 closed

[2020-02-13 23:55] xiaotiansf opened #89 "Dash-player does not play back ffmpeg vs (libsvt_vp9) dash encoder's segment mpd"
while I have confirmed that ffmpeg-master: Worked around the "Too many invisible frames" issue for mp4 has been fixed. SVT_VP9 encoder generated mp4 file now can be played back correctly.

ffmpeg dash encoded segment mpd (using svt_vp9) does not play back. I think something in "dashenc.c" needs to be patched much like the patch in "movenc.c".

[2020-02-14 00:30] tianjunwork commented on #89
Hi @xiaotiansf , thank you confirming the fix.
Could you share with me the ffmpeg command which uses dashenc? Thank you.

[2020-02-14 01:02] xiaotiansf commented on #89
Here is the test streaming script:
[stream-from-camera-svtvp9-test.txt](https://github.com/OpenVisualCloud/SVT-VP9/files/4202135/stream-from-camera-svtvp9-test.txt)
It needs to build ffmpeg from the fork: https://github.com/xiaotiansf/FFmpeg/tree/exmg-lls
and use the following dash-player to test:
http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html with the cont

[2020-02-14 01:17] tianjunwork commented on #89
Thank you @xiaotiansf , can anyone access`"http://test:Test123!@p-ep$stream_id.i.akamaientrypoint.net/cmaf/$stream_id/joep10" `?
If not, can we setup a local environment?

[2020-02-14 01:38] xiaotiansf commented on #89
I think so. This is just for test purpose.

[2020-02-14 01:52] tianjunwork commented on #89
Hi @guojiansheng0925  Jiansheng, could you also look into the support for dashenc? Thank you.

[2020-02-14 08:50] joepadmiraal commented on #89
We'll keep the test ingest address available for a while so you can test this.

[2020-02-17 13:39] guojiansheng0925 commented on #89
Hi @xiaotiansf, there is no camera in my machine. So I revised the test script to use a local mp4 file with x264 encode, but the dash player said "Data update failed". And if I use svt-vp9 encoder, it stuck or crashed.  Could you please help to check the FFmpeg command line in the script? Thank you.
[test_x264_sh.txt](https://github.com/OpenVisualCloud/SVT-VP9/files/4214023/test_x264_sh.txt)

[2020-02-17 17:51] xiaotiansf commented on #89
@guojiansheng0925 Here is the script to just use test video without using camera.
[stream-from-file-svtvp9-test.txt](https://github.com/OpenVisualCloud/SVT-VP9/files/4215334/stream-from-file-svtvp9-test.txt)

[2020-02-18 14:59] guojiansheng0925 commented on #89
Hi @xiaotiansf, thank you for your reply. And I have other two question:
1 Could you please tell more detail about this issue? The dash-player report any error message?
2 If I replace libsvt_vp9 with libx264 in the test script, should it work properly? If it doesn't work, does it indicate there is something wrong with my local environment?

[2020-02-18 18:44] xiaotiansf commented on #89
@guojiansheng0925  here are the two updated scripts (removed audio, changed to use .m4s) (one for SVT_VP9 and one for h264).
The h264 plays back on dash-player while SVT_VP9 does not.

[stream-from-file-h264-test.txt](https://github.com/OpenVisualCloud/SVT-VP9/files/4221029/stream-from-file-h264-test.txt)
[stream-from-file-svtvp9-test.txt](https://github.com/OpenVisualCloud/SVT-VP9/files/4221030/s

[2020-02-19 19:01] xiaotiansf commented on #89
@guojiansheng0925 To help you debug and compare, here is the working script (dash-player can playback) using libvpx-vp9 instead of libsvt_vp9.

[stream-from-file-vp9-test.txt](https://github.com/OpenVisualCloud/SVT-VP9/files/4226809/stream-from-file-vp9-test.txt)

[2020-02-20 09:32] guojiansheng0925 commented on #89
Hi @xiaotiansf, we can confirm with the following command:
./ffmpeg -i input.mp4 -c:v libsvt_vp9 -f dash test.mpd
./ffmpeg -i test.mpd -vcodec copy -f mp4 outsvt.mp4

[2020-02-20 10:46] joepadmiraal commented on #89
Cool.
So you are now able to test locally?
Can I remove the test stream?

[2020-02-20 10:54] guojiansheng0925 commented on #89
Sure, if xiaoxian doesn't need it too.

[2020-02-20 10:56] CPC954 opened #91 "CMake Error: Error in cmake code"
Hi, in CentOS7:
`CMake Error: Error in cmake code at
/root/ffmpeg_sources/SVT-VP9/Source/Lib/VPX/CMakeLists.txt:1:
Parse error.  Expected a command name, got unquoted argument with text "".
CMake Error: Error in cmake code at
/root/ffmpeg_sources/SVT-VP9/Source/Lib/Codec/CMakeLists.txt:1:
Parse error.  Expected a command name, got unquoted argument with text "".
CMake Error: Error in cmake code at

[2020-02-20 11:23] #91 closed

[2020-02-20 11:23] CPC954 commented on #91
Updated cmake to 3.x
Fixed

[2020-02-20 16:06] xiaotiansf commented on #89
That's nice to know. test scripts are removed.

[2020-03-20 00:14] tnti opened #93 "Added Visual Studio 16 2019 build support"
@1480c1
I remember that the patch in SVT-HEVC is the code you wrote. When do you have time to add it to SVT-VP9?

[2020-03-20 00:24] tnti opened #94 "Playback errors caused by mp4box streaming."
Sample command line：
@echo off
CD /D "%~dp0"
"E:\GPAC\mp4box.exe" -add "%~dpn1.ivf#trackID=1:fps=23.976:par=1:1:name=" -add "%~dpn1.aac#trackID=1:lang=jpn:name=" -tmp "D:\\" -new "%~dpn1.mp4"

It is known that modifying the timestamp in MKVToolNix will cause similar errors.
Cause the player to Caton.

Sample command line：
"C:/Program Files/MKVToolNix\mkvmerge.exe" --ui-language zh_CN --output ^"C:

[2020-03-20 00:42] 1480c1 commented on #93
Are you talking about the build.bat?

[2020-03-20 00:47] tnti commented on #93
@1480c1  Yes!

[2020-03-20 00:47] 1480c1 commented on #93
I have a vague feeling that you should be able to copy svt-hevc's build.bat into Build/windows folder and run it from there with no problems

[2020-03-20 00:51] tnti commented on #93
The build.bat in svt-av1 can be copied directly into SVT-VP9, with only a few modifications.

[2020-03-20 00:54] 1480c1 commented on #93
Sure in a little bit

[2020-03-20 00:56] tnti commented on #93
@1480c1 Thank you.

[2020-03-20 01:09] 1480c1 commented on #93
It's best to leave an issue open until it's fully addressed

[2020-03-20 01:21] tnti commented on #93
Ok.

[2020-03-20 06:03] tianjunwork commented on #94
Hi @tnti , I don't quite follow. What is wrong with SVT-VP9?

[2020-03-20 06:38] tnti commented on #94
There may be errors in the timestamp after mux.
These tools have compatibility issues with the SVT-VP9 code stream.
The libvpx code stream does not have these problems.

[2020-03-20 15:55] tianjunwork commented on #94
Hi @tnti , could you help answer below questions?
1. How did you generate the vp9.ivf file. What is the command line.
2. What are the steps to reproduce your issue? Which tool and command line?

[2020-03-20 16:05] #89 closed

[2020-03-20 16:08] #93 closed

[2020-03-21 12:02] tnti commented on #94
Later I will pack a compressed package and upload it to the network disk, which contains the complete operation batch and the encoded code stream.
MKVToolNix and mp4box will have problems when modifying the frame rate.
This bug has existed in the earlier SVT-VP9.

[2020-03-21 13:57] tnti commented on #94
The archive contains all the batches and files. @tianjunwork
https://ws28.cn/f/23iwjwpvtl0

[2020-03-23 03:49] tianjunwork commented on #94
Hi @tnti , could you help answer below questions?

How did you generate the vp9.ivf file. What is the command line?
What are the detailed steps to reproduce your issue?

[2020-03-23 03:53] tnti commented on #94
The zip pack contains everything you need.
@tianjunwork

[2020-03-23 03:56] tnti commented on #94
SVT-VP9_y4m.bat was used.

[2020-03-23 03:58] tianjunwork commented on #94
there are 3 bat files in the package, could you be specific about the steps to reproduce?

[2020-03-23 04:03] tnti commented on #94
1. Generate .ifv using SVT-VP9_y4m.bat
2.use mp4box.bat mux
The mp4 file using ffmpeg mux has compatibility issues with VLC Android.

[2020-03-23 05:11] tianjunwork commented on #94
Then what should I expect? and what is the issue with SVT-VP9 caused it? Please describe it all at once.

[2020-03-23 06:33] tnti commented on #94
Perhaps there is a problem with DTS / PTS.

[2020-03-23 21:43] tianjunwork commented on #94
Hi @guojiansheng0925 , Could you verify ffmpge svt-vp9 DTS/PTS? Thank you. There is a package in https://github.com/OpenVisualCloud/SVT-VP9/issues/94#issuecomment-602046958.

[2020-03-28 07:33] guojiansheng0925 commented on #94
Hi @tianjunwork , sorry for the late reply.
I have downloaded the package and reproduce the issue on windows system.
I don't think it's an issue of FFmpeg svt-vp9 plugin, We can simplified it with following command:

.\SvtVp9EncApp.exe -i .\test.yuv -enc-mode 6 -bit-depth 8 -w 1280 -h 720 -intra-period 240 -irefresh-type 2 -q 16 -rc 0 -fps-num 24000 -fps-denom 1001 -n 200 -b out.ivf

And the out.i

[2020-03-30 18:04] tianjunwork commented on #94
@guojiansheng0925, thank you for simplifying the issue here👍. Maintainer will take a look with this command.

[2020-04-02 00:58] tianjunwork commented on #94
Hi @tnti , I wonder why do you need to generate ivf first. Could you use our ffmpeg plugin and generate mkv directly?

[2020-04-02 01:08] tianjunwork commented on #94
![image](https://user-images.githubusercontent.com/4551215/78200304-114b4d80-7443-11ea-9d09-ff1d4cdab7df.png)
I think the playback issue is because the 2nd `displayed` frame has a time code of 250, which in normal case should be 42. Frames are delayed by player before rendering it. And lots of frames are dropped because "main warning: picture is too late to be displayed"(vlc log).

Whichever tool

[2020-04-02 01:30] tnti commented on #94
Ok.

[2020-04-04 18:00] alatteri opened #97 "FFMPEG patch fails when combined with AV1 & HEVC"
Hello,

Building on Ubuntu 19.10.  After compiling SVT-HEVC/AV1/VP9.
I go to apply all 3 patches per instructions, VP9 fails.

[code]

[2020-04-04 18:02] 1480c1 commented on #97
Use https://github.com/OpenVisualCloud/SVT-VP9/blob/master/ffmpeg_plugin/0001-Add-ability-for-ffmpeg-to-run-svt-vp9-with-hevc-av1.patch instead

[2020-04-21 00:33] SolarAquarion commented on #97
the patch needs to be rebased i think

[2020-04-21 01:57] 1480c1 commented on #97
You can use the patches from https://gist.github.com/1480c1/ecc1dd3a15093398492c86f2314f4a67

I rebased them and made them atomic so there's no order you need to follow. I am planning to update them whenever the FFmpeg patches get touched

[2020-05-04 10:08] mash-graz opened #103 "tagged release with ffmpeg plugin support for the OpenVisualCloud docker images"
could you please think about publishing another tagged release of  SVT-VP9, to make the vp9 ffmpeg-plugin finally easier accessible in the OpenVisualCloud docker images to a wider audience.

see also:  https://github.com/OpenVisualCloud/Dockerfiles/issues/387 from february

[2020-05-04 16:55] #94 closed

[2020-05-04 17:02] mash-graz commented on #97
@1480c1
unfortunatly this also doesn't work sufficient.

if i apply only you patch, `--enable-libsvthevc` isn't available, and when i add the two other patches as used in the common OVC ffmpeg Dockerfiles, the patch stumbles over already existing content. :(

[2020-05-04 21:50] 1480c1 commented on #97
Did you make sure to apply the svt hevc patch in the gist? There's three total patches in it

[2020-05-04 21:53] mash-graz commented on #97
i just pipped the the raw data  representation by help of curl into `| patch -p1`

[2020-05-04 22:11] mash-graz commented on #97
ok... now i got it! :) ...
i'll try to compile it again...
thanks!

[2020-05-04 22:28] mash-graz commented on #97
@1480c1

hmm... the second patch unfortunately doesn't work anymore:

[code]

[2020-05-04 22:33] tianjunwork commented on #97
0001-lavc-svt_hevc-add-libsvt-hevc-encoder-wrapper.patch
0001-Add-ability-for-ffmpeg-to-run-svt-av1-with-svt-hevc.patch
0001-Add-ability-for-ffmpeg-to-run-svt-vp9-with-hevc-av1.patch
Please apply these three one by one.

[2020-05-04 22:44] mash-graz commented on #97
@tianjunwork
if you are referring to the three parts in the gist from @1480c1, than i already applied them individually, as you can see in the quote of my last message.

but the order is a different in your suggestion...
that's easy to change and try. i just used the actual order in the gist until now...

[2020-05-04 22:53] 1480c1 commented on #97
I will check again if SVT-VP9 master branch patch no longer works again

[2020-05-04 23:01] 1480c1 commented on #97
@mash-graz, can you try
[code]

On the current FFmpeg master branch, ([2b32068916](https://github.com/FFmpeg/FFmpeg/commit/2b3206891649f317c20993411efef4bee39ae784))
[code]

[2020-05-04 23:04] mash-graz commented on #97
@1480c1
sure! -- and thank's for all your efforts!

btw: thanks to @tianjunwork -- in the meanwhile i tested this alternative order as well, but unfortunatly it doesn't solve the issue... but nevertheless: thanks! :)

[2020-05-04 23:06] 1480c1 commented on #97
Oh wait, before that @mash-graz what branch/tag of FFmpeg are you on?

[2020-05-04 23:12] mash-graz commented on #97
i can take whatever you like!

but i personally would prefer a more recent git version, because the older official releases (at list till 4.2.2) ar plagued  by an ugly bug, whenever you use multiple filters in complex `-map` contexts, as it is necessary for DASH/HLS creation resp. different image scaling... but that's a minor issue, which i can workaround by other means resp. additional patching a

[2020-05-04 23:21] 1480c1 commented on #97
The patches I have in the gist are based on the master branch, the patches in this repo are based on the n4.2.2 tag, if you are going to use the patches here and in the other SVT repos, you will need to use n4.2.2, else you can use the master branch with the patches in the gist

[2020-05-04 23:25] mash-graz commented on #97
@1480c1
i'll simply try your gist on ffmpeg master... if it works, it would fulfill all my needs...

[2020-05-05 01:06] mash-graz commented on #97
@1480c1
there are still troubles... :(

at the ffmpeg linker stage i get the error:

[code]
and while looking around, i saw, that there is no ` libsvt_vp9.c` at all in the `libavcodec` dir:

[code]

in your patches i also couldn't find any generating diff for this particular source...

did i miss any necessary additional step?

[2020-05-05 01:11] 1480c1 commented on #97
Try again, I regenerated the patch, it seems git missed the file when I rebased

[2020-05-05 01:33] mash-graz commented on #97
thanks!!!
this time it worked! :)
i'll try to test it and make a interim image available, if everything works as expected.

[2020-05-05 18:13] mash-graz commented on #97
if anyone needs access to my debian `testing` and ffmpeg  git `master` branch  based docker image, which provides all three SVT ffmpeg plugins, you can pull it from this public docker repository:

registry.gitlab.com/mash-graz/ffmpeg-svt

the used `Dockerfile` resp. build environment is also available in the corresponding git repo:

https://gitlab.com/mash-graz/ffmpeg-svt

but i also have to repor

[2020-05-05 19:31] tianjunwork commented on #97
Thank you @mash-graz for sharing the docker image.
Yes, please let us know what issue you encounter with svt-vp9.

[2020-05-05 19:31] #97 closed

[2020-05-05 21:01] ndeans123 opened #106 "Build failed on fresh debian 9 install"
I can't seem to get SVT-VP9 to build on a fresh Debian 9 install.  I am using the following instructions:

git clone https://github.com/OpenVisualCloud/SVT-VP9
cd SVT-VP9
cd Build && cmake .. && make -j nproc && sudo make install

And at the make -j part I receive this:

CMakeFiles/Makefile2:310: recipe for target 'Source/Lib/ASM_SSSE3/CMakeFiles/VP9_ASM_SSSE3.dir/all' failed
make[1]: *** [Source/

[2020-05-05 21:04] 1480c1 commented on #106
What nasm version?

[2020-05-05 21:05] ndeans123 commented on #106
root@78C322E:~/SVT-VP9/Build# nasm -v
NASM version 2.12.01

[2020-05-05 21:05] 1480c1 commented on #106
Your cmake picked up nasm first, and in certain nasm versions, the include argument is "broken"

[2020-05-05 21:06] 1480c1 commented on #106
Try passing `-DCMAKE_ASM_NASM_COMPILER=yasm` to your cmake line, so `cmake .. -DCMAKE_ASM_NASM_COMPILER=yasm`

[2020-05-05 21:09] ndeans123 commented on #106
Ah, my mistake, I yasm wasn't actually installed, so I'm assuming it didn't pick up on it and went to nasm?  Anyway, I installed yasm and it is working now.

[2020-05-05 21:10] 1480c1 commented on #106
That's good

[2020-05-05 21:11] ndeans123 commented on #106
Thanks for the help

[2020-05-05 21:14] #106 closed

[2020-05-23 08:04] jbeich opened #108 "ffmpeg_plugin fails to apply against n4.2.3"
Regressed by https://github.com/ffmpeg/ffmpeg/commit/477275795865 and https://github.com/ffmpeg/ffmpeg/commit/7f2ab227e038.

[code]

[2020-05-23 16:21] tianjunwork commented on #108
Yeah, this is a known issue. Originally with master, now with 4.2.3. Thanks reporting. We will fix it.

[2020-05-23 16:25] tianjunwork commented on #108
Hi @guojiansheng0925, could you make a patch for ffmpeg 4.2.3 release tag? Let's keep the 4.2.2 patch also. In case community still uses it. Please label the patch and update README in ffmpeg folder.  #92 can be removed. Thank you.

[2020-05-26 18:05] #108 closed

[2020-05-26 18:07] tianjunwork commented on #103
Done. It is included in the latest Dockerfiles release.

[2020-05-26 18:07] #103 closed

[2020-06-01 04:12] XuShiSheng opened #110 "a bug in ffmpeg wrapper(libsvt_vp9.c)"
we exit encoding in ffmpeg by testing if flag == EB_BUFFERFLAG_EOS, but some time the last frame's flag is EB_BUFFERFLAG_SHOW_EXT | EB_BUFFERFLAG_EOS in this case ffmpeg will hang in function eb_receive_packet.

[2020-06-01 22:47] tianjunwork commented on #110
Hi @XuShiSheng , could you share more information about how you use svt-vp9?
Is it by calling ffmpeg libraries? or through ffmpeg cli? It is confusing to me that either EB_BUFFERFLAG_SHOW_EXT or EB_BUFFERFLAG_EOS is exposed beyond svt-vp9 plugin.
Add @guojiansheng0925 in the discussion.

[2020-06-02 03:26] XuShiSheng commented on #110
Hi, I use it through ffmpeg cli.
please refer to line 482 in ffmpeg_plugin patch
[https://github.com/OpenVisualCloud/SVT-VP9/blob/master/ffmpeg_plugin/n4.2.3-0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch](url)

[2020-06-02 03:44] tianjunwork commented on #110
Could you share the cli?

[2020-06-02 03:53] tianjunwork commented on #110
@guojiansheng0925 https://github.com/OpenVisualCloud/SVT-VP9/blob/master/ffmpeg_plugin/0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch#L482  `if (EB_BUFFERFLAG_EOS == headerPtr->flags)` can be changed to `if (EB_BUFFERFLAG_EOS & headerPtr->flags)`, since @XuShiSheng is reporting sometimes the flag is `EB_BUFFERFLAG_SHOW_EXT | EB_BUFFERFLAG_EOS` for last frame.

[2020-06-02 08:32] XuShiSheng commented on #110
sorry for the late reply. @tianjunwork

ffmpeg cli
`./ffmpeg -i input -r 30/1 -vsync 2  -copyts -filter_complex "[0]scale=w=960:h=544:flags=lanczos[scale_1_out]" -map [scale_1_out]:v? -an  -pix_fmt yuv420p -color_primaries bt709 -colorspace bt709 -color_trc iec61966-2-1 -color_range 0  -vcodec libsvt_vp9  -preset 9 -rc 2  -vb 2300k  output.mp4`

and test seq
[https://share.weiyun.com/fPZbLH6k](tes

[2020-06-02 10:28] guojiansheng0925 commented on #110
Hi @XuShiSheng , thank you for sharing your command line and test seq. I can reproduce the issue and I have revised the ffmpeg plugin patch with @tianjunwork 's suggestion.

[2020-06-02 12:24] XuShiSheng opened #112 "encode is hung when used with intra-period >150"
Hi, I found that svt-vp9 is likely to get stuck used with intra-period >150, please take a look and let me know if I understand it wrong. @tianjunwork

* FFmpeg cli
`./ffmpeg -i input -r 30/1 -vsync 2  -copyts  -filter_complex "[0]scale=w=1920:h=1080:flags=lanczos[scale_1_out]" -map [scale_1_out]:v? -an  -pix_fmt yuv420p -color_primaries bt709 -colorspacebt709 -color_trc iec61966-2-1 -color_range

[2020-06-02 16:43] #110 closed

[2020-06-02 17:45] bentotom opened #113 "Error compiling with FFMPEG"
Running into an issue while compiling ffmpeg with autobuild suite.

using latest git from an hour ago.
and master-0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch

tail of log

[code]

[2020-06-02 17:52] bentotom commented on #30
@japettyjohn
I might be wrong here, but IIRC DASH is a live streaming format and processes video in realtime.
2 pass encoding is generally for vod and archival where a size limit is important.

Do you have a use case for 2pass+dash?

[2020-06-02 18:19] 1480c1 commented on #113
Autobuild suite issues should get reported to the suite unless it's explicitly an issue with upstream.

[2020-06-02 18:42] tianjunwork commented on #113
Hi @bentotom, do you have the same issue with ffmpeg upstream?

[2020-06-02 19:16] tianjunwork commented on #112
Hang can be reproduced with `-rc 2`
`./SvtVp9EncApp -i ../../../../yuv/bbb_1920x1080_420p.yuv -w 1920 -h 1080 -intra-period 249 -lp 24 -enc-mode 8 -tune 0 -fps 30 -rc 2`

`-rc 0/1` works fine.
`./SvtVp9EncApp -i ../../../../yuv/bbb_1920x1080_420p.yuv -w 1920 -h 1080 -intra-period 249 -lp 24 -enc-mode 8 -tune 0 -fps 30 -rc 1`

[2020-06-02 21:15] bentotom commented on #113
Not sure what you mean by upstream.
I'm able to build without svtvp9. Only adding vp9 + patch results in this error.
Using the non master patch results in errors during patch.

[2020-06-02 22:02] tianjunwork commented on #113
I mean using ffmpeg upstream directly just as what is described in https://github.com/OpenVisualCloud/SVT-VP9/tree/master/ffmpeg_plugin.

[2020-06-02 22:13] bentotom commented on #113
Unfortunately I don't have the appropriate development environment set up to build.

Is this only tested with 4.2.2? Should I be pulling that instead of the latest version?

[2020-06-02 22:18] tianjunwork commented on #113
[code]
It also supports 4.2.3 and master.

[2020-06-02 22:29] bentotom commented on #113
I've been running the master patch as noted above. The other 2 patches throw errors during configure.

[2020-06-02 22:47] japettyjohn commented on #30
DASH is also used for VOD in order to achieve ABR.

[2020-06-02 23:24] bentotom commented on #30
And you're doing 2 pass video->Dash on FFMPEG right now?

[2020-06-03 02:14] 1480c1 commented on #113
It seems that intra_refresh_type was removed from the public API, but that removal was not reflected in the patches

https://github.com/OpenVisualCloud/SVT-VP9/commit/7ff45ce33b74eaee443dce4b4748909d732458d2

[2020-06-03 02:17] bentotom commented on #113
@1480c1
I believe the patches reflect the change. The latest version from this morning doesen't have that variable.
Running a diff against the 2 files gives
`++
++    param->intra_refresh_type       =
++        !!(avctx->flags & AV_CODEC_FLAG_CLOSED_GOP) + 1;
 +`

[2020-06-03 02:24] 1480c1 commented on #113
It seems only the master patch still contains it

[2020-06-03 02:25] bentotom commented on #113
any thoughts on how I can get it to patch?

[2020-06-03 02:25] 1480c1 commented on #113
Removed it in the modified patch, rerun the suite

[2020-06-03 02:47] bentotom commented on #113
Ran into a different error. But thanks for the quick fix on the patch file.

`AR	libavcodec/libavcodec.a
E:\media-autobuild_suite-master\msys64\mingw64\bin\ar.exe: libavcodec/libaomdec.o: No such file or directory

make: *** [/build/ffmpeg-git/ffbuild/library.mak:22: libavcodec/libavcodec.a] Error 1
CC	libavcodec/libaomdec.o
AR	libavcodec/libavcodec.a
LD	ffmpeg_g.exe
E:/media-autobuild_suite-maste

[2020-06-03 02:51] 1480c1 commented on #113
a lot of functions needs to be cleaned up in the svt codebase, I would recommend disabling libxvid for now

[2020-06-03 03:03] bentotom commented on #113
Awesome. That did the trick.
Thanks for all the help!

[2020-06-03 03:03] #113 closed

[2020-06-03 05:21] japettyjohn commented on #30
I just reviewed this and some months ago dropped the VBR 2 pass approach for CRF which does not need 2 pass. I am doing this with FFMPEG and then producing the DASH output using the Shaka packager.

[2020-06-03 06:40] bentotom commented on #30
2 pass is a process where the system approximates all the information and stores the compressability, motion and other parts of the video into a log during the first pass.
During the second pass, it actually encodes the video.
If you're not familiar with the process, I would suggest you look into it.

For streaming video this is usually not ideal since the user would need to wait for the 1st pass

[2020-06-06 09:48] bentotom opened #115 "Encoding skipping frames, incorrect PTS/DTS [FFMPEG]"
I've been trying to get an encode to work on FFMPEG, either though capture card or file.
Haven't figured out what wrong with my settings or if the plugin just doesen't play nice yet.

Almost immediately, the encode starts out with a PST/DTS desync and then the encode begins to skip frames.
CPU is at ~45%, and I can generally hit 115fps without any issues so I don't think its a system speed thing.

[2020-06-06 09:55] bentotom commented on #115
Also worth noting that the resulting file is generally playable but stutters on what I believe is the keyframe.
Adjusting the gop/kf value changes the tempo of the stutter

[2020-06-06 18:18] tianjunwork commented on #115
Hi @guojiansheng0925 , could you take a look? Maybe start from transcode with the same configs first. Thank you.

[2020-06-08 10:24] guojiansheng0925 commented on #115
Hi @tianjunwork , it works well with local yuv files. I just got a camera and I will do more experiment tomorrow.

[2020-06-08 16:59] bentotom commented on #115
@guojiansheng0925 Any idea why this might be happening?
I've tried this config with both files and capture and havent been able to generate a vp9 file without stutter on the keyframes. or a DTS mismatch

[2020-06-09 10:17] guojiansheng0925 commented on #115
Hi @bentotom , I am sorry I've no idea but I found a strange thing in  ffmpeg-20200606-024045.log.
The version of FFmpeg is shown in the log:

I think we should check the patch firstly. Are you working on the master branch and build this FFmpeg at the following commit?

Then how do you add the patch to FFmpeg?
Use git am?  master-0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch?
Any warning or err

[2020-06-09 17:02] 1480c1 commented on #115
That `+2` at the end means that he has 2 extra patches on top of the base commit he pulled from master

[2020-06-09 17:03] 1480c1 commented on #115
It's set by
[code]

[2020-06-09 19:08] bentotom commented on #115
I removed -g from the commands and it seemed to do the trick.
SVT-VP9 is defaulting to a gop size of 12 and everything seems smooth enough.
This might be worth looking into in the future though

[2020-06-09 19:19] tianjunwork commented on #115
If gop size is not specified, `IntraPeriod` default is `-2` which means auto mode. Encoder will decided when to add a key frame.
Hi @guojiansheng0925,  did you see any playback issue with `-g 128`?

[2020-06-09 19:46] bentotom commented on #115
Return shows, this.
Overall playback looks smooth. file size is slightly larger, but to be expected
`SVT [config]: SourceWidth / SourceHeight                                        : 1920 / 1080
SVT [config]: Fps_Numerator / Fps_Denominator / Gop Size                : 120 / 1 / 12`

[2020-06-09 23:02] ImportTaste commented on #115
I came here to look into this issue and `-g 128` solved the issue for me.

[2020-06-09 23:14] bentotom commented on #115
Tried ```-g 128``` still seeing a hang/stutter.
Auto @ 12 seems to fix it for me for now.

Happy to do more tests or try different options.
Otherwise, feel free to close.

[2020-06-09 23:18] ImportTaste commented on #115
Hmm, doing `-g 12` makes it stutter for me, though. How strange.

[2020-06-09 23:21] bentotom commented on #115
yeah, this might be an actual bug withe either the packager or the way SVT is handling keyframes.
A quick check of the frame sizes didn't show anything out of the ordinary, Keyframes are larger, as expected, but distance and frame durations were consistent.

[2020-06-10 00:02] tianjunwork commented on #115
Is that ok to attach a small clip of mkv with shutter issue?

[2020-06-11 03:10] guojiansheng0925 commented on #115
Hi @bentotom , Could you please check your svt-vp9 version?
On which commit id? Do you build it on a Windows System by MSYS?

[2020-06-11 17:13] bentotom commented on #115
@tianjunwork
Here's a folder with two videos showing that issue.
https://drive.google.com/drive/folders/1z5gFNqQwJ29N9EO1cNPj7xbqr-VYDdY7?usp=sharing

`-i ....MOV -an -s 1920x1080 -r 60 -c:v libsvt_vp9 -pix_fmt yuv420p -preset 9 -rc 2 -level 6 -g 128 -b:v 15M -t 90 .....mkv
`

[2020-06-11 17:35] bentotom commented on #115
@guojiansheng0925
Commit ID `e482c0a`

[2020-06-15 03:12] AkashiSN opened #116 "Build failed with patched ffmpeg"
# Overview
When I apply the `master-0001-Add-ability-for-ffmpeg-to-run-svt-vp9-with-hevc-av1.patch` patch to ffmpeg and static build it, it fails with an error.

[code]

[code]

# Environment
- Ubuntu 18.04 (Host)
- Docker 19.03.11

# Reappearance

This Dockerfile allows you to reproduce the error.

[code]

[code]

Best regards.

[2020-06-15 03:22] 1480c1 commented on #116
Those lines are indeed no longer present in the main patches

@guojiansheng0925 can you please look to make sure those lines are not in any of the patches?

[2020-06-17 03:16] guojiansheng0925 commented on #116
Hi @1480c1 , I have removed those lines in the main patches. And I also checked those lines are already removed in 4.x patches.

[2020-06-17 05:24] #116 closed

[2020-06-19 00:41] tianjunwork commented on #115
I used VQA that can parse mkv container to read files attached by @bentotom.
With svt-vp9-g128.mkv, the `Timecode` for each `SimpleBlock` is increasing by 16(60fps) for each `displayed` frame. There is no issue with the timestamp in the container.
I also used VLC to playback the file. Enabled logging by `tools -> messages -> verbosity: debug`. Though there is warning saying `frame is too late to b

[2020-06-19 01:41] tianjunwork commented on #115
Okay. The Timecode between cross each Cluster has a jump and is not continues.
1st cluster: Timecode 733, last SimpleBlock Timecode: 2032.
2nd cluster: Timecode 2867, last SimpleBlock Timecode: 2032.
3rd cluster: Timecode 5000 ...
733+2032 has gap with 2867. And the choppy happens just around crossing clusters.

BTW, `frame is too late to be displayed` is irrelevant. if I choose to `slower` the pl

[2020-06-22 05:12] 1480c1 opened #118 "ffmpeg: no longer builds with the latest ffmpeg master"
@guojiansheng0925 can you please update the ffmpeg patches similar to https://github.com/OpenVisualCloud/SVT-AV1/pull/1342 ?

The main error is `AVCodec has no member named send_frame`

[2020-06-22 16:24] tianjunwork commented on #118
Thanks Chris submitting the issue.

[2020-06-23 21:48] #118 closed

[2020-07-10 16:29] intelmark opened #122 "Valgrind reported errors"
When running valgrind to analyze another VP9 issue, a number of errors were reported.

 Conditional jump or move depends on uninitialised value(s)
Uninitialised value was created by a heap allocation

The command line I ran is:

_valgrind --log-file="valgrind_results.txt" --leak-check=full --show-leak-kinds=all --track-origins=yes --dsymutil=yes /repos/SVT-VP9/Bin/Debug/SvtVp9EncApp -i /testfiles/

[2020-07-10 21:06] tianjunwork opened #123 "Developer survey"
We'd like to hear your thoughts on open source projects in [OpenVisualCloud](https://github.com/OpenVisualCloud).
Help us to continue to shape the future of video processing on cloud.

Take our quick survey in https://intel.az1.qualtrics.com/jfe/form/SV_3OFSYX1RYKrEphP. Survey can be found also in [01.org OVC page](https://01.org/openvisualcloud). You may be a lucky winner of a $25 gift card.
We v

[2020-07-11 10:33] jbeich opened #124 "ffmpeg_plugin is not compatible with n4.3"
Only `master` applied against `n4.3` before but now regressed by #119. From [error log](https://github.com/OpenVisualCloud/SVT-VP9/files/4906600/ffmpeg-4.3_4.1.log):
[code]

[2020-07-11 10:41] jbeich commented on #124
Downstream FreeBSD provides a convenient way to build **system** ffmpeg with SVT encoders but only **one** version of ffmpeg is supported, usually the latest. SVT-AV1 is not affected because it has `LIBAVCODEC_VERSION_INT` conditionals instead of multiple patches.

[2020-07-13 18:20] 1480c1 commented on #124
@guojiansheng0925 can you check to see if you can do something similar to https://github.com/OpenVisualCloud/SVT-AV1/blob/master/ffmpeg_plugin/0001-Add-ability-for-ffmpeg-to-run-svt-av1.patch#L120 for the patches here?

[2020-07-14 10:08] guojiansheng0925 commented on #124
Hi @1480c1, the LIBAVCODEC_VERSION_INT checks were removed by @jamrial in #119 because it is unnecessary for master branch. May be we should make a new patch for n4.3 branch only?
Which solution do you think is better? Revert or add a new patch?

[2020-07-14 14:07] 1480c1 commented on #124
I think it may be better to revert in this case since we aren't planning to immediately upstream the svt-vp9 patches, so it would be better if we kept the contents of libsvt_vp9.c as close as possible between all of the patches to reduce maintenance burden

[2020-07-21 03:06] #124 closed

[2020-07-21 08:51] VVD commented on #124
It work with ffmpeg 4.3.1 now, thanks!
Can you create new tag v0.2.2?

[2020-07-22 05:45] tianjunwork commented on #124
@VVD , v0.2.2 tag is added.

[2020-07-22 07:12] VVD commented on #124
Thanks!

[2020-08-07 21:48] lampcover commented on #85
SvtVp9EncApp.exe -i TearOfSteel_720x540_420P_72Frames.yuv -w 720 -h 480 -fps 24 -b bug.ivf
I can reproduce similar observation of artifacts as of previous comment.

The source can be found at: https://www.dropbox.com/s/fh662emsczlfqkl/TearOfSteel_720x540_420P_72Frames.zip?dl=0

I think its due to the width is not multiple of 32. I tried with 732x480 YUV, it works and without artifacts.
Also, these

[2020-08-07 22:27] tianjunwork commented on #85
@lampcover Thank you for doing all the experiments. We are also looking into this issue now. But didn't find the root cause yet.

[2020-08-18 19:37] #85 closed

[2020-09-17 15:24] Ballevill opened #127 "Hello, I have a question, half of the ffmpeg commands"
Hello, I have a question, half of the ffmpeg commands don't work and half of the tutorial
https://github.com/OpenVisualCloud/SVT-VP9/blob/master/Docs/svt-vp9_encoder_user_guide.md

how can i set the -b command: v 3000k -minrate 1500k -maxrate 4350k -crf 31

Thank you very much for help

[2020-09-18 02:16] tianjunwork commented on #127
Hi, SVT-VP9 doesn't support crf rate control method.
I don't think I understand `half of the ffmpeg commands don't work and half of the tutorial`. Could you provide more details on what command failed?

[2020-09-18 02:26] Ballevill commented on #127
Hi Jun, I'm using the ffmpeg plugin and I don't fully understand it, but it doesn't work with turtial, e.g .:

-enc-mode
-loop-filter
-base-layer-switch-mode
-tbr
-vbv-maxrate
-vbv-bufsize

here are my sample settings

{ffmpeg} -i {input} -map 0: 0 -vf scale = -2: 1080 -c: v libsvt_vp9 -rc 1 -vb 6000k -tune 1 -pix_fmt yuv420p -an {output} -1080.webm 2> & 1

and does SVT-VP9 support pass 2?

Becaus

[2020-09-19 01:52] tianjunwork commented on #127
Hi, not all encoder interfaces are exposed through ffmpeg. What you listed are encoder interfaces.
Besides ffmpeg options for encoding, SVT-VP9 ffmpeg plugin exposes below options: https://github.com/OpenVisualCloud/SVT-VP9/blob/897b015de085a85d298e8ea421663fe0083857dd/ffmpeg_plugin/0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch#L502
SVT-VP9 doesn't support 2-pass.
You can set `preset` option th

[2020-11-15 22:59] luigi311 opened #130 "y4m support"
It would be nice to have y4m support so it can easily be used with lossless video without having to specify video information such as w/h/fps. This would also allow easy testing with akiyo_cif.y4m without having to convert it to yuv and specify its information

[2020-11-16 15:45] tianjunwork commented on #130
Hi @luigi311, sure, SVT-HEVC and AV1 support y4m. We can add to VP9 too.

[2020-12-23 09:24] kingofthebongo2008 opened #131 "Question for GPU support implementation"
Hello,
If I want to port the code a gpu,
What will be your recommendations.

I am interested in Profile 1 actually, I have looked around and no hardware encoders support this.
Thank you.
I a want to use this for graphics and text mostly to get good quality of the picture.
Any other recommendations are fine, thank you

[2020-12-30 18:45] tianjunwork commented on #131
Hi @hassount, could you share any insight on this question? Thank you.

[2020-12-30 19:48] kingofthebongo2008 commented on #131
I am working on a task that involves sending video with text.
YUV 4:2:0 makes the text with lower quality even on lossless compression
and this is due to the fact that the chroma is subsampled.
I have a test with the vp9 reference implementation with yuv444 compression
which works great,
however this format is not supported on any hardware encoder as far as I
can tell now, so i have looked at this

[2021-01-31 09:13] Vascom opened #132 "Failed to build with GCC 11"
svt-vp9 fail to build with GCC 11 at Fedora.

[code]
Full build log https://kojipkgs.fedoraproject.org//work/tasks/2850/60932850/build.log

Please help me solve this problem.

[2021-02-01 04:34] #132 closed

[2021-03-14 15:33] SnGmng opened #139 "Why is the ffmpeg patch not already in ffmpeg master?"
I can install SVT-AV1 without having to manually patch ffmpeg. So why isnt this the case with SVT-VP9 already?

[2021-03-14 17:21] 1480c1 commented on #139
It requires a lot of effort and cleanup to upstream the patch and we do not have the resources and time to do so at this moment.

[2021-03-22 18:40] hugo53 opened #142 "Cannot convert AV1 to VP9 by FFMPEG with Segmentation fault (core dumped) error"
Hi there,

I'm trying to experiment with 8K AV1 to VP9 conversion by using FFMPEG + SVT-VP9 but got the error `Segmentation fault (core dumped)` after running ffmpeg command short time. This is how I did:
- Build ffmpeg with `./configure --enable-libsvtvp9 --enable-libopus --enable-libaom --enable-libvpx`
- Run AV1 to VP9 conversion with `./ffmpeg -i av1_video.mp4 -c:v libsvt_vp9 -c:a libopus vp9o

[2021-03-22 22:57] tianjunwork commented on #142
Hi @hugo53 , could you provide more information:
1. let's not complicate the problem by involving transcode. You can decode av1_video.mp4 to y4m first. Then run a svt-vp9 encode with it.
2. If it still crash, could you try other 8k input? Does it crash also?
3. Check memory consumption, is there a OOM(out of memory) error?

[2021-03-23 07:09] hugo53 commented on #142
@tianjunwork Thanks for your help. I tried to decode AV1 to y4m then encode that raw file to VP9 but still got the segmentation fault error.
[code]

[code]

I also made a screen record video, I hope it may help something https://drive.google.com/file/d/1gMxouos4OWL039xs12e4K_9uXc5_gzo7/view?usp=sharing.

[2021-03-28 18:13] tianjunwork commented on #142
Hi @hugo53 , thank for the info. I will look into the crash.

[2021-03-28 18:17] hugo53 commented on #142
@tianjunwork I also tried to convert raw YUV (from here http://ultravideo.fi/#testsequences) to VP9 but got error `Too many invisible frames`. Should I create another issue for this?

[code]

[2021-03-28 18:24] tianjunwork commented on #142
Hi @hugo53 , could you use other output format? This issue is fixed in https://github.com/OpenVisualCloud/SVT-VP9/issues/84.

[2021-03-29 19:21] tianjunwork commented on #142
Hi @hugo53 , do you mind if you could try running sample app with your parameters? E.g. `./Bin/Debug/SvtVp9EncApp -w 7680 -h 3840 -i ../../../../yuv/7680x3840_420_5.yuv -fps 30 -n 100 -tune 0 -q 32 -b 8k.bin`. I saw different behavior on my side. There is no seg fault but number of memory allocation exceeding the max(https://github.com/OpenVisualCloud/SVT-VP9/blob/master/Source/Lib/Codec/EbDefinit

[2021-03-30 15:24] hugo53 commented on #142
@tianjunwork Yes I got the same with `SvtVp9EncApp`. Please check log below.

[code]

[2021-03-30 18:21] tianjunwork commented on #142
hi @hugo53 , though I also saw `munmap_chunk(): invalid pointer` in 4k encoding, I think you were reporting 8k encoding issue?? Please try 8k also on your side.

[2021-03-30 18:33] tianjunwork opened #143 "Crash at deinit"
./SvtVp9EncApp -w 3840 -h 2160 -i xxx.yuv -fps 30 -n 100 -q 40 -b out.bin
For **qp <=40**, above command line causes:
[code]

[2021-03-30 18:35] tianjunwork commented on #142
Hi @hugo53 , I recorded the crash of 4k at https://github.com/OpenVisualCloud/SVT-VP9/issues/143. Thanks.

[2021-04-01 13:40] hugo53 commented on #142
@tianjunwork I did again with 8K video, but I got `Segmentation fault` again. Please check below log.

[code]

[2021-04-01 16:49] hugo53 opened #144 "Convert 8K H264 to VP9"
Hi @tianjunwork,

I created the issue https://github.com/OpenVisualCloud/SVT-VP9/issues/142 about 8K AV1 to VP9 conversion. Please correct me if I'm wrong to create this new issue to discuss about 8K H264 to VP9 conversion.

I tried to convert 8K H264 to VP9 using `libsvt_vp9` but got `Segmentation fault` error , below is full gdb backtrace:

[code]

I understand that originally SVT-VP9 only suppo

[2021-04-01 23:02] tianjunwork commented on #142
Hi @hugo53 , we could continue discuss in this page since it includes more info. Thanks providing the backtrace in #144(But I saw a different one on my side, hence needed clarification). Could you close 144? We will use this one to track this bug.
In general, SVT-VP9 is in maintenance, we will only fix bugs. No new feature is supported.
There is no hard limitation on input resolution. 8k should be

[2021-04-02 05:04] #144 closed

[2021-04-02 05:17] hugo53 commented on #142
@tianjunwork I closed the issue #144. I tried to test with 4K, 5K and 8K video but only 4K work, both 5K and 8K produce `Segmentation fault` error.

[2021-04-13 11:32] rathann commented on #139
Looks like somebody asked about this 2 years ago already: https://trac.ffmpeg.org/ticket/7914 .

[2021-04-17 00:03] 1480c1 opened #145 "FFmpeg-master: patch needs rebasing"
There seems to be a conflict in matroskaenc and I do not know enough about what exactly was done to change it

[2021-04-17 15:27] dbermond commented on #145
I have prepared a working patch (works for me at least):

https://aur.archlinux.org/cgit/aur.git/tree/040-ffmpeg-add-svt-vp9.patch?h=ffmpeg-full-git

[2021-04-17 15:30] dbermond commented on #145
This is the upstream ffmpeg commit that broke the patch:

https://git.videolan.org/?p=ffmpeg.git;a=commitdiff;h=b972dab39d81d5f291cea4b9a042beb63386e768

[2021-04-20 23:13] tianjunwork commented on #145
Hi Jiansheng, @guojiansheng0925, could you rebase the patch for master? Thank you.

[2021-04-23 10:04] guojiansheng0925 commented on #145
Hi @tianjunwork , the patch for master branch is rebased.
Could you please help to review the PR, thanks.

[2021-04-25 02:49] #145 closed

[2021-05-19 11:47] Zvictoria opened #147 "mp4 video container in svt-vp9 ffmpeg plugin bug"
The following bug found with svt-vp9 usage with ffmpeg (the ffmpeg_plugin patch bug): When packing any resulting (vp9 encoded) video to mp4 container some duplicate frames (from 1/3 to 1/2 of the total) show up on decoding - the video looks like it has very slow fps and moves forward not evenly but by fits and starts.
The same time the same resulting video packed to mkv or webm container looks fin

[2021-06-17 19:02] #147 closed

[2021-10-21 21:13] dpatel257 commented on #127
Closing the issue due to inactivity.

[2021-10-21 21:13] #76 closed

[2022-01-25 07:13] casperr0 opened #152 "Low quality video as the result of encoding"
Hello!
I'm having some problems with encoding videos

Parameters:

Intel(R) Xeon(R) CPU E5-2650 v2 @ 2.60GHz 16 cores
RAM 14 gb

Software:
GCC: 7.5.0
CMake: 3.10.2
YASM: Assembler version 1.3.0
OS: Ubuntu 18.04.4 LTS (Bionic Beaver)

I wanted to encode an mp4 video
Used following commands:

`$ffmpeg -i my_video.mp4 -an -c copy -y in.yuv`

`$./SVT-VP9/Bin/Release/SvtVp9EncApp -w 1280 -h 720 -i in.y

[2022-01-25 17:31] tianjunwork commented on #152
Hi @casperr0 , I did some quick test, using the same command,
1. I didn't see any quality issue in 720p
![image](https://user-images.githubusercontent.com/4551215/151027257-6fb51f22-3e03-4208-9726-75bc68e3b0c9.png)

2. 1080p no seg fault
![image](https://user-images.githubusercontent.com/4551215/151026514-81e1e829-5f30-469f-92e8-5f3587750e40.png)

Xeon E5 supports up to AVX. `-asm 1` will run the

[2022-03-03 22:18] krychu90 opened #153 "FFmpeg patch not working"
When I try to patch the latest ffmpeg version then error occurs:
[code]

[2022-03-03 22:53] krychu90 commented on #153
My ffmpeg version is:
_ffmpeg version N-105824-g4419433d77_

[2022-03-03 23:22] tianjunwork commented on #153
Hi @guojiansheng0925 , the master* patch doesn't apply on FFmpeg master. Could you address it? Thank you.

[2022-03-04 21:44] #153 closed

[2022-03-13 19:11] Ballevill opened #155 "Source Height must be even for YUV_420 colorspace"
Hi, I have this error:

Error Instance 1: Source Height must be even for YUV_420 colorspace
Error instance 1: Source Height must be a multiple of 8

Demo downloaded from google:

Link to the article
https://developers.google.com/media/vp9/settings/vod

Link to the source file
http://ftp.nluug.nl/pub/graphics/blender/demo/movies/ToS/tearsofsteel_4k.mov

My settings:

-vf scale = 1920: -1 -c: v libs

[2022-03-13 19:23] tianjunwork commented on #155
Hi @Ballevill , could you let me know the output of `ffprobe tearsofsteel_4k.mov`? The file is 6.3G and prompt security warning when I tried to download. Let me see if I can debug without downloading the file.

[2022-03-13 21:17] Ballevill commented on #155
I have cut the version to 800mb for you.

https://drive.google.com/file/d/1XRiBVh32Jz_NlbeLlXAd4qM9WWNj0sVz/view?usp=sharing

[2022-03-14 12:16] Ballevill commented on #155
Hi @tianjunwork

I have one more problem, if I encode via libvpx-vp9, it plays 4k movies on all devices without any problems, but if I use libsvt_vp9, even the samsung s 22 ultra cuts when playing. What could this be caused by?

[2022-03-14 17:48] tianjunwork commented on #155
Hi @Ballevill , your input is 3840x1714, downscale to 1920x857 with `-vf scale=1920:-1`.
SVT-VP9 doesn't support odd  and non-multiple-of-8 width/height.

You mean video playback stutter on samsung s 22 ultra? How about on desktop using VLC?

[2022-03-14 18:49] tianjunwork commented on #155
Hi, what do you mean `cut`? the video output is being cut and some portion is lost?
Using VLC is to debug the issue, not asking your customer to use it. I would like to know if it is specific to samsung.

[2022-03-14 19:20] Ballevill commented on #155
@tianjunwork

Sorry my english is not the best :) no cut just cuts when playing

[2022-03-14 19:30] tianjunwork commented on #155
No worries. It is stuttering, jittering or lagging?

[2022-03-15 17:35] Ballevill commented on #155
@tianjunwork

Hi, I made a video for you what it looks like.

https://drive.google.com/file/d/1z_nvVA6IzfuAGS8onwiGwJbqPy5CO7Dm/view?usp=sharing

The problem only occurs when using svt-vp9.

When I encode libsvt_vp9 all is well

[2022-03-15 17:38] Ballevill commented on #155
Will the resolution problem be solved?

Because it's a big problem when you want to use svt to convert online videos

[2022-03-15 18:06] tianjunwork commented on #155
1. Could you upload a **short** clip encoded with SVT-VP9 which shows stutter during playback?
2. SVT-VP9 currently supports all the most popular and standard resolutions. The odd and non-multiple-of-8 resolution can be supported. But engineering resources on SVT-VP9 are very limited, you will expect a delay. I suggest normalize the resolutions(crop) before encode following below standard:
https:/

[2022-03-16 10:52] Ballevill commented on #155
@tianjunwork  Hi, I am sending 2 versions, one svt and the other encoded vp9.

hostup.pl/vp9.webm

hostup.pl/svt.webm

Please check on the phone as you can see the svt version is not smooth and the picture is freezing. the normally encoded version does not have this problem.

Yeah I know you are focusing on av1 right now but this fix would have been handy too.

[2022-04-04 06:45] MartinPulec opened #156 "FFmpeg patch doesn't apply to current master"
Hi, FFmpeg patch doesn't apply to current FFmpeg master tree due to recent changes there. AFAIK it is exactly the same as  [this issue for SVT HEVC](https://github.com/OpenVisualCloud/SVT-HEVC/issues/614).

Trying to apply:

    $ git apply --check SVT-VP9/ffmpeg_plugin/master-0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch
    error: patch failed: libavcodec/allcodecs.c:768
    error: libavcodec

[2022-04-04 18:07] tianjunwork commented on #156
Hi @guojiansheng0925, could you take a look? There are some conflict on master recently. Thank you for taking the time fixing it.

[2022-04-07 08:38] guojiansheng0925 commented on #156
Hi @MartinPulec  @tianjunwork , I have tried to fix it.
It's easy to make it apply to master branch.
But there are regression issues which may take more time.

[2022-06-06 02:32] 1480c1 commented on #156
@guojiansheng0925 Do you have a list or description of the regression issues? Can we start tracking them and just work on making the patch apply for now?

[2022-08-10 12:50] TinySnow opened #159 "[BUILD FAILED] Looking for some alternatives about `immintrin.h`"
Hello, I'm from ArchRISC-V Team, a community porting Arch Linux software to RISC-V architecture.

### Description

When post `SVT-VP9`, we encountered compile error. Looking up the log, we find `immintrin.h` head file, which leaded this fail.

After searching some docs, we got a depressed truth: it seems that this head file is for `x86_64` only.

Are there some alternatives for it?

### Perhaps us

[2022-08-10 20:18] Vascom commented on #159
But SVT for Intel x86_64 only isn't it?

[2022-08-10 21:51] 1480c1 commented on #159
SVT was indeed originally designed for x86_64 only, but it isn't possibly to extend the base technology to other architectures, as shown by SVT-AV1

[2022-08-11 12:38] 1480c1 commented on #159
Update: had a typo in my comment, meant to say, it's possible to extend to other architectures

[2022-10-19 10:04] lp24db opened #160 "Multiple instances of libsvt-vp9"
Hi there.
I am testing the svt-vp9 in a self developed, ffmpeg-based encoder (written in c) and i'm very happy with it. My code is nearly identical to the transcoding-example of ffmpeg (no os ffmpeg call) Actually i am using libvpx for VP9 encodes and because of the bad multithreading i am forking serveral threads with libvpx instances in order to get a good performance. I recently switched to lib

[2022-10-23 17:59] 1480c1 commented on #160
Hi, for all svt encoders, it is not recommended to have multiple instances of the library running inside one application, as it is not tested and as far as I remember, all 3 use some global variables here and there which could lead to issues when trying to run them all. Additionally, all encoders are tunes on the assumption that there will be no other encoder within the same application.